div.container {
  width: 1140px;
  overflow-x: scroll;
}

div.card-headers {
  font-size: .9em;
}

form {
  padding-top: 10px;
}
div.selection {
  text-align: center;
}
form input, form select {
  width: 100%;
}

td.cardname {
  text-align: left;
}

#firsthand {
  overflow-y: scroll;
  padding-top: 20px;
}
div.trash, .card-headers div, .boardlist > div {
  border: black 1px solid;
}

#deck-controls {
  padding-bottom: 10px;
}

#stats-view div {
  display: inline-block;
}

div.boardlist {
  height: 500px;
}

div.cardlist {
  height: 200px;
  overflow-y: scroll;
}

div.cardlist option:nth-child(even) {
  background:lightgrey;
}

div.card-headers {
  text-align: center;
}

#preview {
  width: 223px;
}

div.card img {
  width: 120px;
}

div.boardlist > div {
  height: 100%;
}

div.color-filters {
  height: auto;
  border: none;
}

div.color-filters label{
  padding-left: 7px;
}
